    body{
       background-image: url(background.jpg);
        
        width: 1024px;
        height: 768px;
        color: white;
        text-align: center;
        margin: 0px;
        
        font-family: Helvetica;  
        text-align: center;
        z-index: -3;
        
    }
#transparency{
    height: 100%;
    width: 100%;
    position: fixed;
    background: black;
    opacity: .9;
    z-index: -2;
}

#border{
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    position: absolute;
    border: white solid 7px;
    margin-left: auto;
    z-index: -1;
    
}

    #main {
        height: 100%;
        width: 100%;
        color: white;
        z-index: 1;
        float: left;
        font-variant-caps: all-small-caps;
    
      
    }
#title {
    padding-bottom: 0px;
    margin-bottom: 2px;
    padding-top: 110px;
    font-weight: normal;
    

}
    h2 {
        font-size: 56px;
        margin: 0px;
        font-weight: bold;
    }
    
    h1 {
        margin-top: 20px;
        margin-bottom: 24px;
        font-size: 70px;
        line-height: ;
        font-weight: bold;
        
    }

        
    h3 {
        padding: 20px;
        font-size: 50px;
        font-style: italic;
        line-height: 1.7

    }
    p {
        font-size: 64px;
        font-weight:;
        margin: 35px;
    }

    p.tail{
        margin: 0, auto;
        width: 80%;
        bottom:10px;
        font-size: 30px;
        display: inline-block;
        padding-top: 80px;
    }
#tailwrap{
    
    text-align: center;
}
.column{
    width: 50%;
    float: left;
    text-align: left;
}
.chapters{
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    
}

.chapter{
    float: left;
    width: 330px;
    height: 100px;
    line-height: 100px;
    padding: 0px;
    margin: 0px;
}

.dot {
    height: 30px;
    width: 30px;
    margin-top: 42px;
    padding: 0px;
    font-size: 50px;
    padding-right: 15px;
    float:left;
    visibility: hidden;
    color: white;
}

